@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playpen+Sans:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Playpen+Sans:wght@100..800&display=swap");
.wrapper {
  height: 300vh;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: #fff;
  background-color: #1a1a1a;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;

  --primary-color: #ff3030;
}
.nav {
  height: 8rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 1.28rem;
  text-align: center;
}
.nav-item {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.16rem;
}
.nav-item:hover {
  color: var(--primary-color);
}
.hero {
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/bilder/Pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  font-family: "Lobster", cursive;
  font-size: 4.8rem;
  line-height: 4.8rem;
  margin: 0 0 1.6rem 0;
}
.hero-action {
  background-color: var(--primary-color);
  color: #ddd;
  padding: 1.6rem 3.2rem;
  border: 1px solid var(--primary-color);
  margin-top: 6.4rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.hero-action:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.subtitle {
  padding: 0;
  margin: 0;
  color: #ddd;
}
/* ab hier about section */
.about-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  margin: 0 3rem;
}
.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.heading {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  margin: 3.2rem 0 1.6rem;
}
.about-text {
  font-size: 1.44rem;
}
.button-about-action {
  max-width: auto;
  background-color: var(--primary-color);
  color: #ddd;
  padding: 1.6rem 3.2rem;
  border: 1px solid var(--primary-color);
  margin-top: 3.2rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.about-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.big-pic {
  height: 70%;
  width: 50%;
}
.small-pics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 70%;
  width: 50%;
}
img {
  height: 15rem;
  width: 15rem;
}
@media only screen and (min-width: 600px) {
  .nav {
    gap: 3.2rem;
    font-size: 1.6rem;
  }
  .title {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
  .subtitle {
    font-size: 2.4rem;
  }
  .hero-action {
    padding: 1.92rem 4rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 6.4rem;
  }
  .title {
    font-size: 9.6rem;
    line-height: 10.4rem;
  }
}
