@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playpen+Sans:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Playpen+Sans:wght@100..800&display=swap");
.wrapper {
  height: 300vh;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background-color: #1a1a1a;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;

  --primary-color: #ff3030;
  --text-color: #ddd;
}
.button,
.button-inverted {
  width: fit-content;
  display: inline-block;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  padding: 1.6rem 3.2rem;
}
.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.button-inverted {
  background-color: transparent;
  color: var(--primary-color);
}
.button-inverted:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.container {
  max-width: 85%;
  margin: 0 auto;
}
.nav {
  height: 8rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  font-size: 1.28rem;
  text-align: center;
}
.nav-item {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.16rem;
}
.nav-item:hover {
  color: var(--primary-color);
}
.hero {
  height: calc(100vh - 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  font-family: "Lobster", cursive;
  font-size: 4.8rem;
  line-height: 4.8rem;
  margin: 0 0 1.6rem 0;
}
.hero-action {
  margin-top: 6.4rem;
}

.subtitle {
  color: var(--text-color);
}
/* ab hier about section */
.about {
  display: grid;
  gap: 3.2rem;
}
.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.heading {
  margin: 3.2rem 0 1.6rem;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--primary-color);
}

.about-text {
  font-size: 1.44rem;
  color: var(--text-color);
}
.about-action {
  margin-top: 3.2rem;
  max-width: auto;
}
.about-images {
  display: flex;
  gap: 0.8rem;
  width: 100%;
}
.about-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.about-image-large {
  min-width: 50%;
}
.small-pics {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
/* ab hier info section */
.info-wrapper {
  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(Pizzateig1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3.2rem 0;
  margin: 4.8rem 0;
}
.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.6rem;
}
.info .heading {
  margin: 0 auto;
}
.hours-entry {
  display: flex;
  justify-content: space-between;
  width: 24rem;
}
.days {
  color: var(--text-color);
}
/* ab hier beginnt die contact section */

.contact-image {
  width: 100%;
}
.contact-content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
}
.contact-actions {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact-detail {
  margin-top: 0.8rem;
  color: var(--text-color);
}
.contact .heading {
  margin: 0;
}
@media only screen and (min-width: 600px) {
  .nav {
    gap: 3.2rem;
    font-size: 1.6rem;
  }
  .title {
    font-size: 6.4rem;
    line-height: 6.4rem;
  }
  .subtitle {
    font-size: 2.4rem;
  }
  .button,
  .button-inverted {
    padding: 1.92rem 4rem;
  }
  .about-text {
    font-size: 1.6rem;
  }
  .contact-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .contact-image {
    width: 60%;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    gap: 6.4rem;
  }
  .title {
    font-size: 9.6rem;
    line-height: 10.4rem;
  }
  .heading {
    font-size: 3.2rem;
  }
  .about {
    grid-template-columns: 1fr 1fr;
    margin-top: 9.6rem;
    align-items: center;
  }
  .about-images,
  .small-pics {
    gap: 1.6rem;
  }

  .hours-entry {
    width: 32rem;
    font-size: 1.92rem;
    margin-bottom: 0.8rem;
  }
  .hours {
    margin-top: 3.2rem;
  }
  .info-wrapper {
    margin: 12.8rem 0;
    padding: 9.6rem 0;
  }

  .contact .heading {
    margin-bottom: 3.2rem;
  }
  .contact-detail {
    margin-top: 1.6rem;
    font-size: 1.92rem;
  }
  .contact-image {
    width: 50%;
  }
  .contact-actions {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
