* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: #fff;
  background-color: #1a1a1a;
  font-size: 1.6rem;
  font-family: sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/bilder/Pizza.jpg);
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title {
  margin: 0;
  font-family: "Playpen Sans", cursive;
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
}
.hero a {
  background-color: #ff3030;
  color: white;
  padding: 1.6rem 3.2rem;
  border: 0.08rem solid #ff3030;
  margin-top: 6.4rem;
  text-decoration: none;
  transition: opacity 2s ease;
}

.hero a:hover {
  background-color: rgba(255, 0, 0, 0.05);
  color: #ff3030;
}
.hero p {
  padding: 0;
  margin: 0;
}
